@import url('https://fonts.googleapis.com/css?family=Unkempt');
@import url('https://fonts.googleapis.com/css?family=Fontdiner+Swanky');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@font-face {
  font-family: 'Digital-7';
  font-style: normal;
  font-weight: 400;
  src: url(digital-7.ttf) format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Digital-7 Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Digital-7 Mono'), url("Digital-7 \(Mono\).ttf") format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


body { background-color:#000; padding:0; margin:0; text-align:center;}
.token {
   display:inline-block;
   border-radius:3em;
   border: 6px solid transparent;
   transition: transform 600ms cubic-bezier(0.705, 1.650, 0.655, 0.820);
   position:absolute;
   background-size:cover;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-image: url("img/button.png");
}
.drop {
   transition: all 3s cubic-bezier(0.705, 1.650, 0.655, 0.820);
}
.token:hover {
   filter: brightness(1.2) drop-shadow(0px 0px 20px #ffff00);

}
.selected {
   box-shadow: 0 0 0 2px #fff;
   z-index:99999;
}
#canvas {
   position:absolute;
   top:0px;
   left:0px;
   z-index:999999;
}
.remove {
   transform: scale(0);
   opacity:0;
}
.gem1 { background-color:#990000; }
.gem2 { background-color:#009900; }
.gem3 { background-color:#000099; }
.gem4 { background-color:#999900; }
.gem5 { background-color:#009999; }
.gem6 { background-color:#990099; }

.gem1:hover { transition: transform 200ms; filter: brightness(1.3) drop-shadow(0px 0px 20px #ff0000); transform: scale(1.1); z-index:9999;}
.gem2:hover { transition: transform 200ms; filter: brightness(1.3) drop-shadow(0px 0px 20px #00ff00); transform: scale(1.1); z-index:9999;}
.gem3:hover { transition: transform 200ms; filter: brightness(1.3) drop-shadow(0px 0px 20px #0000ff); transform: scale(1.1); z-index:9999;}
.gem4:hover { transition: transform 200ms; filter: brightness(1.3) drop-shadow(0px 0px 20px #ffff00); transform: scale(1.1); z-index:9999;}
.gem5:hover { transition: transform 200ms; filter: brightness(1.3) drop-shadow(0px 0px 20px #00ffff); transform: scale(1.1); z-index:9999;}
.gem6:hover { transition: transform 200ms; filter: brightness(1.3) drop-shadow(0px 0px 20px #ff00ff); transform: scale(1.1); z-index:9999;}

.selected.gem1 { background-color:#ff0000; filter: brightness(1.3); transform: scale(.9); }
.selected.gem2 { background-color:#00ff00; filter: brightness(1.3); transform: scale(.9); }
.selected.gem3 { background-color:#0000ff; filter: brightness(1.3); transform: scale(.9); }
.selected.gem4 { background-color:#ffff00; filter: brightness(1.3); transform: scale(.9); }
.selected.gem5 { background-color:#00ffff; filter: brightness(1.3); transform: scale(.9); }
.selected.gem6 { background-color:#ff00ff; filter: brightness(1.3); transform: scale(.9); }
div.explode {
   background-image:url("img/poof.gif");
   height:46px;
   width:60px;
   border:none;
   border-radius:0;
   overflow:visible;
   background-position:-11px;
   margin-left:8px;
   margin-top:4px;
}
#board div.poof {
   background-image: url(img/poof.png);
   background-color:transparent;
   width: 60px;
   height: 60px;
   animation: play 500ms steps(7) 1;
}
@keyframes play {
   from { background-position:    0px; }
   to { background-position: -420px; }
}
.smpoint {
   display:inline-block;
   position:absolute;
   border: 0px solid rgba(255,255,255,.75);
   border-radius:3em;
   font-size:10px;
   color:#000;
   font-weight:bold;
   background-color:rgba(255,255,255,.8);
   width:1.2em;
   height:1.2em;
   padding: .5em;
   text-align: center;
   margin-left:2em;
   margin-top:2em;
   animation: float 5s 1;
   z-index:99999;
   opacity:0;
}
.smpoint2 {
   display:inline-block;
   position:absolute;
   border: 0px solid rgba(255,255,255,.75);
   border-radius:3em;
   font-size:10px;
   color:#000;
   font-weight:bold;
   background-color:rgba(255,255,255,.8);
   width:1.3em;
   height:1.3em;
   padding: .5em;
   text-align: center;
   margin-left:2em;
   margin-top:3em;
   animation: zoom2 1s 1;
   z-index:99999;
   opacity:0;
}
@keyframes float {
   0% {   transform: scale(0) translateY(0em); opacity:1; }
   10% {   transform: scale(1) translateY(-1em); opacity:1; }
   100% {   transform: scale(6) translateY(-6em); opacity:0; }
}
.lgpoint {
   display:inline-block;
   position:absolute;
   border: 0px solid rgba(255,255,255,.75);
   border-radius:3em;
   font-size:18px;
   color:#000;
   font-weight:bold;
   background-color:rgba(255,255,255,1);
   width:1.5em;
   height:1.5em;
   padding: .5em;
   text-align: center;
   margin-left:2em;
   margin-top:-2em;
   animation: zoom 10s 1;
   animation-delay: 400ms;
   z-index:99999;
}
@keyframes blink {
   0% { background-color: #000; color:#0e0; }
   100% { background-color: #0e0; color:#000; }
}
@keyframes zoom {
   0% {   transform: scale(1) translateY(0em); opacity:1; }
   30% {   transform: scale(2) translateY(-2em); opacity:1; }
   100% {   transform: scale(8) translateY(-6em); opacity:.5; }
}
@keyframes zoom2 {
   0% {   transform: scale(0); opacity:1; transform: translateY(0em); }
   20% {   transform: scale(1.5); opacity:1; transform: translateY(0em); }
   100% {   transform: scale(3); opacity:0; transform: translateY(-6em); }
}
#scoreboard { 
   font-family: "Fontdiner Swanky";
   font-size: 2em;
   color: #fff;
   text-align:center;
   position:relative;
   top:.5em;
}
#scoreboard label {
   margin-left: 2em; 
}
#scoreboard span {
   font-size:3em;
}
#score {
   font-family: "Digital-7 Mono";
   color:#00ee00;
}
#time {
   font-family: "Digital-7 Mono", monospace;
   color:#00ee00;
}
#buttons {
   font-family: "Digital-7 Mono";
   color:#00ee00;
}
#board {
   position:absolute;
bottom:0px;
left:0px;
right:0px;
}
#scoreboard button {
   background-color: transparent;
   color: #0d0;
   font-size: 2.5em;
   border: 0;
   position:relative;
   float:right;
}
.gameover {
   display:inline-block;
   width:50%;
   font-size:22px;
   background-color:#fff;
   border-radius: 1em;
   border: 1em solid #03d;
   text-align:center;
   padding: 1em;
   font-family: "Fontdiner Swanky", sans-serif;
   z-index:99999;
	position:relative;
}
.highscore {
   font-family: "Digital-7 Mono",monospace;
   color:#0d0;
   background-color:#000;
   padding: .5em;
   font-size:3em;
   display:inline-block;
   padding:.5em 2em;
}
.initials input {
   font-size: 4em; 
   border:0px;
   border-bottom: 4px solid #333;
   margin-left:0.15em;
   background-color:#eee;
   /* animation: blink 1s steps(2) infinite; */
   font-family: "Digital-7 Mono",monospace;
   background-color: #000;
   color:#0e0;
   text-align:center;
}
@media (min-width:1024px) {
   #scoreboard label { 
      display:inline;
      font-size:1.8em;
   }
   #scoreboard {
      font-size:1.2em;
   }
}
@media (max-width:1024px) {
   #scoreboard label { display: none; }
   #scoreboard span {
      margin-right:.5em;
   }
   #time { margin-right:0; }
   #scoreboard { font-size:1.8em; }
	#scoreboard span#score { font-size:1em; }
	#scoreboard span#buttons {font-size:1em; }
	#scoreboard span#time { font-size:1em; }
}
@-ms-viewport{ width: device-width; }
